@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

/* 공통: /common/fonts/ 아래에 woff2/woff 파일 배치 */
@font-face {
    font-family: 'Regular';
    src: url('../font/Freesentation-4Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Medium';
    src: url('../font/Freesentation-5Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SemiBold';
    src: url('../font/Freesentation-6SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('../font/Freesentation-7Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
