body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper {
  position: relative;
  width: 1024px;
  height: 600px;
  overflow: hidden;
}

#bg-img {
  width: 1024px;
  height: 600px;
  display: block;
}

#content-screen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

#content-img {
  width: 100%;
  height: auto;
  display: block;
}

#content-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  overflow-y: scroll;
  scrollbar-width: none;
}

#context-text::-webkit-scrollbar{
display: none;
}


#pdf-actions {
  position: absolute;
  top: 3%;
  right: 5%;
}


.edu-nav-btn {
  background-color: #929292;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}