html, body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.video-js {
  width: 1024px;
  height: 600px;
  display: block;
}

.vjs-custom-control {
  font-size: 14px;
  color: white;
  padding: 0 0px;
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 350px;
  padding: 5px 10px;
  bottom: 30px;
  left: 0;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 5px 0;
  border-radius: 4px;
  z-index: 9999;
  height: 550px;
  overflow-y: auto;
}

.dropdown-menu div {
  padding: 30px 15px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background: rgba(0, 0, 0, 0.2);
}

.download-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
