body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.video-js {
  width: 1024px;
  height: 600px;
}

.vjs-custom-control {
  font-size: 14px;
  color: white;
  padding: 0 0px;
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 120px;
  padding: 5px 10px;
  bottom: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 13px;
  padding: 5px 0;
  border-radius: 4px;
  z-index: 9999;
  max-height: 180px;
  overflow-y: auto;
}

.dropdown-menu div {
  padding: 5px 15px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background: rgba(0, 0, 0, 0.2);
}
