.summary-wrap {
    background: transparent url(../images/summary/summary_bg.jpg) no-repeat 0 0;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.summary-wrap > div {
    width: 100%;
}

.summary-wrap .summary-content {
    height: 100%;
	width: 90%;
    padding: 3em;
    position: relative;
    overflow: hidden;
}
.summary-wrap .summary-content section.page {
    overflow-y: scroll;
    height: 95%;
}
.summary-wrap .summary-content .page-body {
    margin-left: 4%;
    list-style: none;
}
.summary-wrap h2 i.page-num {
    width: 40px;
    height: 28px;
    background: transparent url(../images/summary/summarynum.png) no-repeat 0 0;
    float: left;
    margin-right: 5px;
}
.summary-wrap h2 i.page-num-1 {
    background-position: 0px 0px;
}
.summary-wrap h2 i.page-num-2 {
    background-position: -40px 0px;
}
.summary-wrap h2 i.page-num-3 {
    background-position: -80px 0px;
}

.summary-wrap .numberCircle {
    display: inline-block;
}

.summary-wrap section.page {
    display: none;
    transition: all 1s;
}

.summary-wrap section.page.active {
    display: block;
}

.summary-wrap section.page ul {
    margin: 10px 0 10px 70px;
}

.summary-wrap section.page ul li {
    width: 600px;
    text-indent: -20px;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.summary-wrap section.page ul li::before {
    content: url(../images/summary/summary_bullet.png);
    margin-right: 8px;
}

.summary-wrap .actions {
    text-align: right;
    margin-top: 2%;
}

.summary-wrap .actions button {
    width: 100px;
    height: 30px;
    background: transparent url(../images/summary/summarybtn.png) no-repeat 0 0;
    cursor: pointer;
    border: none;
    text-indent: -999em;
}

.summary-wrap .actions button#btn-print {
    background-position: 0px 0px;
}
.summary-wrap .actions button#btn-print:hover {
    background-position: 0px -30px;
}
.summary-wrap .actions button#btn-download {
    background-position: -100px 0px;
}
.summary-wrap .actions button#btn-download:hover {
    background-position: -100px -30px;
}
.summary-wrap #paginate {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.summary-wrap #paginate .indicator {
    width: 20px;
    height: 20px;
    background: transparent url(../images/summary/slideon.png) no-repeat 0 0;
    text-indent: -9999em;
    cursor: pointer;
    background-position: -20px 0;
    float: left;
}

.summary-wrap #paginate .indicator:hover,
.summary-wrap #paginate .indicator.active {
    background-position: 0 0;
}

.print-summary-page {
    margin: 1em 0;
}

.print-area {
    display: none;
}
.print-area > .print-summary-page {
    page-break-before: auto;
}
.print-area > .print-summary-page .summary-page-body {
    list-style: none;
}

@media print {
    body {
        background: none;
    }
    #top-nav,
    .video-wrap {
        display: none;
    }
    .print-area {
        display: block;
    }
}
